<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        body {
            background-color: #111316; /* Dark background */
            color: #ffffff; /* White text */
            margin-top: 40px;
            padding-bottom: 40px; /* Space for footer */
            text-align: center; /* Centering text */
        }
        .container {
            width: 60%;
            margin: auto;
        }
        h1 {
            margin-bottom: 20px; /* Spacing between headings */
        }
        /* Additional styling can be added here */
    </style>
</head>
<body>
    <div class="container">
        <h1>{{ error }}</h1>
        <!-- Add more content as needed -->
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
