<!DOCTYPE html>
<html>
<head>
    <title>Room</title>
    <script>

        function handleLockIn(playerId) {
            var inputField = document.getElementById('input-' + playerId);
            var lockInButton = document.getElementById('lock-in-' + playerId);
            var toggleButton = document.getElementById('toggle-' + playerId);

            if (lockInButton.innerText === 'Lock In') {
                inputField.type = 'password';
                lockInButton.innerText = 'Edit';
                toggleButton.innerText = 'Show';
            } else {
                inputField.type = 'text';
                lockInButton.innerText = 'Lock In';
                toggleButton.innerText = 'Hide';
            }
        }
        function setFormAction() {
            var homeTeam = document.getElementById('home_team').value;
            var awayTeam = document.getElementById('away_team').value;
            var matchTitle = homeTeam + ' - ' + awayTeam;
            
            var form = document.getElementById('game-form');
            form.action = '/room/' + '{{ room_id }}' + '/' + encodeURIComponent(matchTitle);
        }

        // function submitPrediction() {
        //     var player = document.getElementById('player-dropdown').value;
        //     var prediction = document.getElementById('prediction-input').value;

        //     console.log("Prediction for player", player, "is:", prediction);
        //     // Add your code here to handle the prediction (e.g., send to server)
        // }

    </script>
    <style>
        .player-section {
            display: none;
            margin-bottom: 20px;
        }
        .team-input {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Room</h1>
    <form id="game-form" method="post">
        <input type="hidden" name="room_id" value="{{ room_id }}">
        <input type="hidden" name="players" value="{{ players }}">
        <div class="team-input">
            <label for="home_team">Home Team:</label>
            <input type="text" id="home_team" name="home_team" onchange="setFormAction()">
        </div>
        <div class="team-input">
            <label for="away_team">Away Team:</label>
            <input type="text" id="away_team" name="away_team" onchange="setFormAction()">
        </div>
        <button type="submit" id="lock-game">Make prediction</button>
    </form>

</body>
</html>

<!-- <div id="prediction-section" style="display: none;">
    <label for="player-dropdown">Choose a player:</label>
    <select id="player-dropdown">
        {% for player in players %}
            <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
    </select>

    <label for="prediction-input">Enter Prediction:</label>
    <input type="number" id="prediction-input" name="prediction-input">
    <button type="button" onclick="submitPrediction()">Submit Prediction</button>
</div> -->